aiohttp
aiosignal
appnope
asttokens
async-timeout
attrs
backcall
beautifulsoup4
blobfile
bs4
certifi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
docopt
entrypoints
executing
filelock
fonttools
frozenlist
huggingface-hub
idna
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
lxml
matplotlib 
matplotlib-inline 
multidict 
nest-asyncio 
numpy 
openai 
packaging 
pandas 
parso 
pexpect 
pickleshare 
Pillow 
pipreqs 
platformdirs 
plotly 
prompt-toolkit 
psutil 
ptyprocess 
pure-eval 
pycryptodomex 
Pygments 
pyparsing 
python-dateutil 
pytz 
PyYAML 
pyzmq 
regex 
requests 
scikit-learn 
scipy 
six 
soupsieve 
stack-data 
tenacity 
threadpoolctl 
tiktoken 
tokenizers 
tornado 
tqdm 
traitlets 
transformers 
typing_extensions 
urllib3 
wcwidth 
yarg 
yarl 
